.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Roboto';
  padding: 20px;
  gap: 30px;
}

.phonebook {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
